<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
{{ if .IsPage }}<meta name="description" content="{{ .Summary | markdownify | plainify | htmlUnescape }}">
{{ else }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ partial "arsae.html" . }}
    {{- partial "head.html" . | safeHTML }}
    {{ partial "webmaster.html" . }}
    {{- partial "json-ld.html" . }}
</head>
  <body>
    {{- partial "header.html" . }}
    <main role="main" class="site-content">
     	{{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . }}
    {{- partial "histats.html" . }}
  </body>
</html>