<div class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:3rem;margin-bottom:0px;">
	  <p class="col-md-12 text-center" style="color:#000;padding-top:10px;">&copy; {{ now.Format "2006" }} <a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></p>
    <a href="#" class="ignielToTop"></a>
    <script>function init(){var imgDefer=document.getElementsByTagName('img');for (var i=0; i<imgDefer.length; i++){if(imgDefer[i].getAttribute('data-src')){imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));}}}window.onload=init;</script>
</div>