{{- if .IsHome }}
<title>{{ .Site.Title }}</title>
{{- else }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{- end }}
<meta name="url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}">
{{- with.Params.author }}
<meta property="article:author" content="{{humanize . }}"> 
<meta name="author" content="{{humanize . }}"> 
{{- end }}{{ partial "geo-region.html" . }}
<link rel="canonical" href="{{ .Permalink }}">
<link rel="preconnect" href="https://stackpath.bootstrapcdn.com">
<link rel="dns-prefetch" href="https://stackpath.bootstrapcdn.com">
<link rel="preconnect" href="https://code.jquery.com">
<link rel="dns-prefetch" href="https://code.jquery.com">
<link rel="preconnect" href="https://i.pinimg.com">
<link rel="dns-prefetch" href="https://i.pinimg.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="dns-prefetch" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="{{ "/assets/css/all.css" | absURL }}" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/main.css" | absURL }}">
<link rel="stylesheet" href="{{ "/assets/css/theme.css" | absURL }}">
<link rel="icon" type="image/png" href="/logo.png">
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/favicon.ico">
<link rel="shortcut icon" href="/favicon.ico">
{{- with .OutputFormats.Get "RSS" }}
<link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
<link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{- end }}