<!--
<div id='fixedban' style='width:100%;margin:auto;text-align:center;float:none;overflow:hidden;display:scroll;position:fixed;bottom:0;z-index:999;-webkit-transform:translateZ(0);'>
    <div>
    <a id='close-fixedban' onclick='document.getElementById(&quot;fixedban&quot;).style.display = &quot;none&quot;;' style='cursor:pointer;'><img alt='close' src='https://yess-online.com/close.png' style='vertical-align:middle;' title='close button'/></a></div>
    <div style='text-align:center;display:block;max-width:728px;height:auto;overflow:hidden;margin:auto'>
   <script type="text/javascript">
	atOptions = {
		'key' : '044478bac56eb613662b93ef204db084',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.creativeformatsnetwork.com/044478bac56eb613662b93ef204db084/invoke.js"></scr' + 'ipt>');
	</script>
	</div>
</div> -->

<!-- Histats.com  START (html only) -->
<a href="/" alt="page hit counter" target="_blank" >
<embed src="//s10.histats.com/521.swf"  flashvars="jver=1&acsid=4389740&domi=4"  quality="high"  width="70" height="20" name="521.swf"  align="middle" type="application/x-shockwave-flash" pluginspage="//www.macromedia.com/go/getflashplayer" wmode="transparent" /></a>
<img  src="//sstatic1.histats.com/0.gif?4389740&101" alt="simple hit counter" border="0">
 <!--Histats.com  END  -->
 